/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-5-4, 21:17:11
    Author     : ADMINISTRATOR
*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin: 0;padding: 0;border: 0;}
body{font-size: 12px;}
img{border: none;}
ul,ol{list-style: none;}
input,select,textarea{outline: none;}
textarea{resize: none;}
a{text-decoration: none;}
/*clear float*/
.clearfix:after{content:"";display: block;clear: both;}
.clearfix{zoom:1;}
body{
    background: #999;
    
}
#div1{
    width: 400px;
    height: 420px;
    position: relative;
    margin: 50px auto;
    background: url('img/bg.gif') center no-repeat;
}
#div1 .level{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    height: 20px;
    left: 110px;
    top: 10px;
}
#div1 .score{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    width: 60px;
    height: 20px;
    left: 220px;
    top: 10px;
}
#progress {position:absolute; width:100%; height:20px; background: url(img/progress.jpg) no-repeat; bottom:0px; left:0;}
#progress span {width:100%; height:100%; position:absolute; left:0; top:0; background: url(img/progress_span.jpg) no-repeat; }
#div1 .end{
    position: absolute;
    display: none;
    width: 212px;
    height: 40px;
    left: 100px;
    height: 100px;
    background: url('img/game_over.jpg') center no-repeat;
}
#main{
    position: relative;
    width: 400px;
    height: 370px;
    left: 0;
    top: 30px;
    background: red;
}
#man{
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('img/1.jpg') center no-repeat;
    display: none;
}
#main .bullet{
    width: 5px;
    height: 5px;
    position: absolute;
    left: 50px;
    top: 50px;
    background: yellow;
}
#start{
    position: relative;
    width: 85px;
    height: 34px;
    left: 160px;
    top: 150px;
    background: url('img/btn.gif') center no-repeat;
}
.btn_start{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 8px;
}